table.bordered-table th, td {
    border: 1px solid silver; 
    padding: 4px;  
}
table.bordered-table {
    border-collapse: collapse; 
}
body{
    text-align: center; 
}
table {
    margin-left: auto; 
    margin-right: auto; 
}
